/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  --- Imports --- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400&display=swap');

/* --- Global style rules --- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

html{
    font-size: 16px;
    -webkit-tap-highlight-color: #f5f5f5;
}

body{
    background-color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
}

a,a:hover{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: inherit;
}

/* Grow animation. CREDIT: Hover.css (edited)*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

/* glow animation CREDIT: Hover.css */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* --- Header --- */

header{
    background-color: rgba(245,245,245,.8);
}

.header-row{
    height: 80px;   
}

.header-fixed-top{
    position: fixed;
    top: 0;
    z-index: 1000;
}

header .collapsed-navbar-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; 
    padding: 0;
}

header .hamburger-icon-wrapper{
    text-align: center;
    height: 40px;
    width: 40px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 5px;
    margin: 5px;
    border: none;   
    background-color: #f5f5f5;
}

/* Box shadow effect when dropdown navmenu is opened */
header .hamburger-icon-wrapper:not(.collapsed){
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

header .logo-wrapper .logo, header .logo-wrapper a{
    display: block;
    height: 60px;
    width: 60px;
}

header .logo-wrapper a{
    margin-left: 5px;
}

header .hamburger-icon{
    font-size: 40px;
}

.header-row .navbar-wrapper,.header-row .nav-links-wrapper{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

.header-row .navbar-wrapper{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
}

.header-row .nav-links-wrapper{
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.nav-links-wrapper .nav-link,
.collapsed-navbar-wrapper .nav-link, 
.toggled-nav-links-wrapper .nav-link{
    width: 18%;
    max-width: 120px;
    height: 40px;
    margin: 0 1%;
    padding: 0.1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 32.8px;
    background-color: #f5f5f5;
    color: #0e1c36;
    border-color: #9f7e69;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.nav-links-wrapper .nav-link:hover,
.collapsed-navbar-wrapper .nav-link:hover,
.toggled-nav-links-wrapper .nav-link:hover{
    background-color: rgba(159,126,105,.5);
}

.nav-links-wrapper .nav-link:focus,
.collapsed-navbar-wrapper .nav-link:focus,
.toggled-nav-links-wrapper .nav-link:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
            box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
    outline: none;
}

.active{
    font-weight: 700;
}

#navbar-toggled{
    padding: 20px 14vw; 
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1000;   
    background-color: #f5f5f5;
}

.toggled-nav-links-wrapper{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#navbar-toggled .toggled-nav-links-wrapper .nav-link{
    margin: 10px auto;
    width: 75px;
    height: 40px;
    font-size: 1em;
    line-height: 32.8px;
}

#small-contact-modal-trigger{
    width: 75px;
    margin: auto 5px auto 1%;
    font-size: 1em;
}

@media (min-width: 576px) and (max-width: 850px){
    #logo-col{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    #expanded-navbar-col{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

/* --- Contact modal --- */

/* Custom backdrop bluring when modal open*/
/* CREDIT: Stack overflow article */
body.modal-open #blur-modal-open-container{
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
            filter: blur(1px) grayscale(90%);
}

.modal-content{
    background-color: #0e1c36;
    border-radius: 1rem;
}

.modal-dialog{
    margin-bottom: 10px;
    margin-top: 90px;
}

/* Custom override of default BS modal entrance transition */
.modal.fade .modal-dialog{
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.modal.show .modal-dialog{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.modal-header{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-header h5, .modal-header span{
    color: #9f7e69;
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-header span{
    font-size: 3rem;
}

.modal-header button:focus,
.modal-header span:focus{
    outline: none;
}

.contact-form-element{
    display: block;
    margin: 10px auto;
    padding: 5px;
}

.contact-form-element:not(#contact-form-submit){
    border-radius: 8px;
}

input.contact-form-element:not(#contact-form-submit){
    height: 30px;
}

#contact-form-submit{
    background-color: #9f7e69;
    color: #0e1c36;
    border: 1.5px solid #f5f5f5;
    border-radius: .5rem;
}

#contact-form-submit:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
            box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
    outline: none;
}

.modal-footer{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #f5f5f5;
    padding: 1rem;
}

.modal-footer ul{
    list-style-type: none;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
    }
    .contact-form-element#message{
        width: 400px;
    }
    #contact-form-submit{
        width: 80px;
        height: 43px;
        font-size: 1.25em;
    }
}

@media (min-width: 992px){
    .contact-form-element#message{
        width: 510px;
    }
}

/* --- Home hero section --- */

/* CREDIT: Code Institute LOVE RUNNING walkthrough project for idea for hero zoom out animation */
#hero-section-wrapper{
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

#hero-image{
    height: calc(100vh - 160px);
    width: 100%;
    /* CREDIT: unsplash */
    background-image: url("../images/dog_looking_at_screen.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-animation-name: hero-zoom;
            animation-name: hero-zoom;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    /* Ease in timing function to disguise rendering of image */
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

@-webkit-keyframes hero-zoom{
    from {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0;
    }
    to{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes hero-zoom{
    from {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0;
    }
    to{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

#hero-jumbotron-wrapper{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#jumbotron-text{
    width: 80%;
    margin: 0 auto;
}

#jumbotron-text p{
    color: #f5f5f5;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 10px 0;
}

#jumbotron-CTA-button{
    display: inline-block;
    height: 40px;
    margin: .4em;
    padding: .6em;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 16.8px;
    background-color: #0e1c36;
    color: #f5f5f5;
    border-color: #9f7e69;
}

#jumbotron-CTA-button:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
            box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
    outline: none;
}

@media (min-width: 430px){
    #jumbotron-text{
        width: 45%;
    }

    #jumbotron-text p{
        font-size: 20px;
    }
}

@media (min-width: 600px){
    #jumbotron-CTA-button{
        height: 50px;
        border-width: 3px;
        border-radius: 6px;
        font-size: 1.25em;
        line-height: 20px;
        
    }
}

/* CREDIT: Codepen: Chat Bubbles in CSS */
@media (min-width: 950px){
    #hero-jumbotron-wrapper{
        top: calc(30px + 0.05 * calc(100vw - 950px));
        left: calc(10px + 0.2 * calc(100vw - 950px));
        width: auto;
    }
    #jumbotron-text{
        display: inline-block;
        position: relative;
	    width: calc(340px + 0.1 * calc(100vw - 950px));
        height: 220px;
        background-color: #f5f5f5;
        padding: 1.5em;
        border-radius: 30px;
    }
    #jumbotron-text::after{
        font-size: 2em;
        content: ' ';
	    position: absolute;
	    width: 0;
	    height: 0;
        left: auto;
	    right: 18px;
	    bottom: -20px;
        border: 12px solid;
	    border-color: #f5f5f5 #f5f5f5 transparent transparent;
    }
    #jumbotron-text p{
        color: #0e1c36;
        font-size: 1.5rem;
        margin: 15px 0;
    }
    #hero-image{
        height: calc(100vh - 80px);
    }
    #jumbotron-CTA-button{
        margin: 10px 0;
    }
}

/* --- Home main sections --- */

#about-me-wrapper{
    background-color: rgba(159,126,105,.5);
    padding: 20px 10px;
    margin: 0 auto;
    max-width: 650px;
    border-radius: 6px;
}

.about-me-heading{
    color:#0e1c36;
}

#main-content-row{
    margin: 30px 0;
}

.main-content-wrapper{
    text-align: center;
    color: #0e1c36;
    max-width: 650px;
    margin: 10px auto 15px auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
}

.main-content-wrapper h5{
    margin: 20px 0;
    font-weight: 700;
}

.main-content-wrapper .btn{
    color: #f5f5f5;
    border-color: #9f7e69;
    background-color: #0e1c36;
    border-width: 2px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px 0;
}

.main-content-wrapper a:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
            box-shadow: 0 0 0 0.2rem rgba(159,126,105,.4);
    outline: none;
}

.main-content-wrapper p{
    margin: 1em 0;
    max-width: 400px;
}

.cta_image{
    width: 100%;
    height: auto;
    min-height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0;
    background-position: center center;
}

#projects_cta_image{
    background-image: url("../images/projects_cta.jpg");
}

#blog_cta_image{
    background-image: url("../images/blog_cta.jpg");
}

#resume_cta_image{
    background-image: url("../images/resume_cta.jpg");
}

#resume-download-link{
    font-weight: 700;
    padding: .25rem;
    display: inline-block;
    color: #0e1c36;
}

#resume-download-link i{
    color: #9f7e69;
}

#resume-main #resume-download-link{
    margin-bottom: 1rem;
}

.main-content-break{
    width: 20%;
    border-top: solid 5px #9f7e69;
    opacity: 0.7;
}

@media (min-width: 700px) and (max-width: 991.99px){
    #main-content-row{
        border: solid 2px #9f7e69;
        border-radius: 5px;
        padding: 1em;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px){
    .main-content-wrapper{
        margin: 0 5px 15px 5px;
        border: solid 2px #9f7e69;
        border-radius: 5px;
        padding: 10px 20px 0 20px;
    }
    .main-content-wrapper p{
        min-height: 6em;  
        margin-bottom: .5em;
        max-width: 350px;
    }
}

/* Resume main sections */

#resume-main{
    margin-top: 5rem;
}

#resume-main section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.resume-main-section{
    margin-bottom: 1.25em;
    color:#0e1c36;
}

.resume-item-location{
    display: block;
}

.resume-section-header{
    margin-bottom: 1em;
    background-color: #0e1c36;
    padding-top: 1em;
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.resume-section-header h4{
    color:#f5f5f5;
    margin: 0;
}

.resume-section-header span i{
    color:#9f7e69;
}

.resume-item-title{
    font-size: 1.25em;
}

#employments-inner-wrapper{
    border-left: solid rgba(14,28,54,.6) 3px;
    padding-left: 1em;
}

#qualifications-inner-wrapper{
    border-right: solid rgba(14,28,54,.6) 3px;
    padding-right: 1em;
}

.employment,.qualification,.skill{
    margin: 1em 0;
    position: relative;
}

/* Bullet points on employment and qualfication timelines */
.employment::before,
.qualification::after{
    content: '';
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #9f7e69;
    border-radius: 50%;
    top: 6px;
}

.employment::before{
    left: -23.5px;
}

.qualification::after{
    right: -23.4px;
}

.resume-item-description{
    margin-top: .5em;
    font-size: .875em;
}

#education-header-wrapper,#more-about-header-wrapper{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#education-header-wrapper h4{
    display: flex;
}

#more-about-image-wrapper{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#more-about-image-wrapper>img{
    width: 60%;
    max-width: 400px;
    margin: 2em auto 2em auto;
    display: block;
}

@media (min-width: 768px){
    /* Bullet points on employment and qualfication timelines */
    .employment::before,
    .qualification::after{
        display: none;
    }
    #work-history-wrapper,#education-wrapper{
        margin-bottom: 2em;
    }
    #employments-inner-wrapper{
        border: solid rgba(14,28,54,.6) 3px;
        padding-right: 1em; 
    }
    #qualifications-inner-wrapper{
        border: solid rgba(14,28,54,.6) 3px;
        padding-left: 1em; 
    }
    #work-history-header-wrapper,#education-header-wrapper{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #skills-header-wrapper h4,#more-about-header-wrapper h4{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .skill-header-wrapper h6{
        padding-left: 1rem;
    }
    .skill-text-wrapper>.resume-item-description{
        margin-top: 0;
    }
    .skill{
        margin: 2em 0;
    }
    #more-about-text-wrapper{
        margin: auto 0;
    }
}

@media (min-width: 992px){
    #more-about-text-wrapper>.resume-item-description{
        font-size: 1.125em;
        padding-left: 1em;
    }
    .skill-text-wrapper>.resume-item-description{
        padding-left: 1em;
    }
    #skills-inner-wrapper{
        border: solid rgba(14,28,54,.6) 3px;
    }
    #skills-header-wrapper{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /* margin-bottom is 2em to fix collapsing margins */
    .skill {
    margin: 1em 0 2em 0;
    }
}

/* --- Blog and projects pages --- */

#blog-page-header,#projects-page-header{
    margin-bottom: 1em;
    margin-top: 5rem;
    background-color: #0e1c36;
    padding-top: 1em;
    padding-bottom: 1em;
}

#blog-page-header>h4,#projects-page-header>h4{
    color:#f5f5f5;
    margin: 0;
}

#blog-page-header span,#projects-page-header span{
    color:#9f7e69;
}

#projects-row,
#articles-row{
    align-items: stretch;
}

.project-item-wrapper hr,
.blog-item-wrapper hr{
    margin: 1rem auto;
}

.blog-item-link-wrapper,.project-item-link-wrapper{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
}

.blog-item-caption,.project-item-caption{
    color: #0e1c36;
    min-height: 100px;
}

.blog-item-caption>h5,.project-item-caption>h5{
    font-weight: 700;
}

.blog-item-image,.project-item-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

/* CREDIT: hover.css */
/* adapted (subtle) grow hover effect */

.hvr-grow-s:hover, .hvr-grow-s:focus, .hvr-grow-s:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

/* CREDIT: Unsplash for all blog and project images */
#blog-image-1{
    background-image: url("../images/blog_post_1.jpg");
}

#blog-image-2{
    background-image: url("../images/blog_post_2.jpg");
}

#blog-image-3{
    background-image: url("../images/blog_post_3.jpg");
}

#blog-image-4{
    background-image: url("../images/blog_post_4.jpg");
}

#blog-image-5{
    background-image: url("../images/blog_post_5.jpg");
}

#blog-image-6{
    background-image: url("../images/blog_post_6.jpg");
}

#blog-image-7{
    background-image: url("../images/blog_post_7.jpg");
}

#blog-image-8{
    background-image: url("../images/blog_post_8.jpg");
}

#project-image-1{
    background-image: url("../images/project_1.jpg");
}

#project-image-2{
    background-image: url("../images/project_2.jpg");
}

#project-image-3{
    background-image: url("../images/project_3.jpg");
}

#project-image-4{
    background-image: url("../images/project_4.jpg");
}

#project-image-5{
    background-image: url("../images/project_5.jpg");
}

#project-image-6{
    background-image: url("../images/project_6.jpg");
}

#project-image-7{
    background-image: url("../images/project_7.jpg");
}

#project-image-8{
    background-image: url("../images/project_8.jpg");
}

@media (min-width: 576px){
    .blog-item-link-wrapper,.project-item-link-wrapper{
        border: solid 2px #9f7e69;
        border-radius: 5px;
    }
}

/* --- Footer --- */

.footer-row{
    height: 100px;
    background-color: #0e1c36;
}

#footer-info-wrapper{
    color: #f5f5f5;
}

#footer-info-wrapper{
    font-size: 11px;
}

.footer-icons-wrapper{
    text-align: right;
    
}

.footer-icons-wrapper i{
    font-size: 24px
}

.footer-icon{
    display: inline-block;
    padding: 3px;
    color: #f5f5f5;
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.footer-icon:hover,.footer-icon:focus{
    color: #9f7e69;
}